<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
    <h1>Show All data</h1>
<table border="1" width="50%" cellpadding="" cellspacing="">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Image</th>
        </tr>
        <tbody>
        {% for i in data %}
            <tr>
                <th>{{i.id}}</th>
                <th>{{i.Name}}</th>
                <th>{{i.Description}}</th>
                <th>${{i.Price}}</th>
                <th><img src="{{i.image.url}}" height="70" width="70"></th>
        
            </tr>
        {% endfor %}
        </tbody>
    </thead>
</table>
</center>
</body>
</html>